[Desktop Entry]
Type=Application
Name=wifimimo
Comment=wifimimo terminal monitor
Icon=network-wireless
Exec=wifimimo-mon
NoDisplay=true
Categories=Network;System;
